{% if paginator.total_pages > 1 %}
<nav class="pagination">
  {% if paginator.previous_page %}
  <a class="pagination__item" href="{{ paginator.previous_page_path | relative_url }}">&laquo; Poprzednia</a>
  {% else %}
  <span>&laquo; Poprzednia</span>
  {% endif %}
  &nbsp;

  {% for page in (1..paginator.total_pages) %}
  &nbsp;
  {% if page == paginator.page %}
  [<em>{{ page }}</em>]
  {% elsif page == 1 %}
  <a class="pagination__item" href="{{ paginator.previous_page_path | relative_url }}">[{{ page }}]</a>
  {% else %}
  <a class="pagination__item" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">[{{ page }}]</a>
  {% endif %}
  &nbsp;
  {% endfor %}

  &nbsp;
  {% if paginator.next_page %}
  <a class="pagination__item" href="{{ paginator.next_page_path | relative_url }}">Następna &raquo;</a>
  {% else %}
  <span>Następna &raquo;</span>
  {% endif %}
</nav>
{% endif %}
